node_modules/
tmp/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
*.code-workspace

# System Files
__MACOSX
.DS_Store
Thumbs.db

# AI
# .junie
